#chessboard {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    width: min(90vmin, 640px);
    height: min(90vmin, 640px);
}

.square {
    position: relative;
}

.label {
    position: absolute;
    font-size: 12px;
    font-family: sans-serif;
}

.number {
    top: 3px;
    left: 4px;
}

.letter {
    bottom: 3px;
    right: 4px;
}

.light .label {
    color: #b58863;
}

.dark .label {
    color: #f0d9b5;
}

.light {
    background-color: #f0d9b5;
}

.dark {
    background-color: #b58863;
}

.selected {
    background-color: #f6f669;
}
